* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191931;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", sans-serif;
    padding-top: 4rem;
    padding-bottom: 2rem;
    gap: 1rem;
}

.my-photo {
    width: 10rem;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}

.sosmed i {
    font-size: 1.5rem;
    color: #8787a3;
}

.sosmed a:not(:last-child) {
    margin-right: 1rem;
}

.sosmed {
    margin-top: 1rem;
}

ul {
    width: 80%;
    max-width: 40rem;
}

ul li {
    list-style: none;
}

ul li:not(:last-child){
    margin-bottom: 1rem;
}

.link-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D2D56;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 8px 10px 0 #0f0f25;
    border: 2px solid#2D2D56;
    margin-top: 1rem;
}

.link-card:hover {
    border: 2px solid white;
}

.link-icon {
    background-image: linear-gradient(to top,purple,cyan);
    padding: 0.5rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-action {
    color: #8787a3;
    cursor: pointer;
}

.copyright {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #8787a3;
    font-size: 0.75rem;
}

.copyright img {
    width: 2rem;
    opacity: 0.4;
}